<log4net>
  <root>

    <level value="ALL" />
    <appender-ref ref="File" />

    <!--
    <appender-ref ref="Splunk" />
    <appender-ref ref="Email" />
    <appender-ref ref="TraceAppender" />

    //
    USERAGENT=%property{CurrentRequestUserAgent} URL=%property{CurrentRequestUrl} REFERRER=%property{CurrentRequestReferrer}
    MESSAGEID=%X{MESSAGE_ID} KEYVALUES=%X{KEY_VALUES}

    Session id
    //add to appender [%property{SessionID}]
    protected void Application_PostAcquireRequestState(object sender, EventArgs e)
    {
        if (Context.Handler is IRequiresSessionState)
        {
            log4net.ThreadContext.Properties["SessionId"] = Session.SessionID;
        }
    }
    
    -->
  </root>

  <appender name="File" type="log4net.Appender.RollingFileAppender">
    <file type="log4net.Util.PatternString" value="%property{LogName}" />
    <param name="AppendToFile" value="true" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <maximumFileSize value="1000KB" />
    <maxSizeRollBackups value="20" />
    <rollingStyle value="Size" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern
        value="APPLICATION=%P{Application} UTCDATE=&quot;%utcdate&quot; DATE=&quot;%date{dd MMM yyyy HH:mm:ss.fff}&quot; HOST=%property{log4net:HostName} PID=%property{pid} THREAD=%t USERNAME=%username LOGLEVEL=%level LOGGER=%logger.%M() LOGMSG=%m%n" />
    </layout>
  </appender>


  <appender name="Splunk" type="log4net.Appender.RemoteSyslogAppender">
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMax value="FATAL" />
      <levelMin value="INFO" />
    </filter>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern
        value="ENVIRONMENT=DEV APPLICATION=%P{Application} DATE=&quot;%d{dd MMM yyyy HH:mm:ss.fff}&quot; %ndc THREAD=%t LOGLEVEL=%-5p LOGGER=%logger.%M() MESSAGEID=%X{MESSAGE_ID} KEYVALUES=%X{KEY_VALUES} REFERRER=%property{HttpReferer} URL=%property{Url} LOGMSG=%m%n" />
    </layout>
    <remoteAddress value="SPLUNKURL" />
    <remotePort value="SPLUNKPORT" />
  </appender>

  <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern
        value="ENVIRONMENT=DEV APPLICATION=%P{Application} DATE=&quot;%d{dd MMM yyyy HH:mm:ss.fff}&quot; %ndc THREAD=%t LOGLEVEL=%-5p LOGGER=%logger.%M() MESSAGEID=%X{MESSAGE_ID} KEYVALUES=%X{KEY_VALUES} REFERRER=%property{HttpReferer} URL=%property{Url} LOGMSG=%m%n" />
    </layout>
  </appender>

  <appender name="Email" type="log4net.Appender.SmtpAppender,log4net">
    <Authentication value="Basic" />
    <bufferSize value="50" />
    <evaluator type="log4net.Core.LevelEvaluator,log4net">
      <threshold value="WARN" />
    </evaluator>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMax value="FATAL" />
      <levelMin value="WARN" />
    </filter>
    <from value="Error@Serve.com" />
    <layout type="log4net.Layout.PatternLayout,log4net">
      <conversionPattern
        value="ENVIRONMENT=DEV APPLICATION=%P{Application} DATE=&quot;%d{dd MMM yyyy HH:mm:ss.fff}&quot; %ndc [THREAD=%t] LOGLEVEL=%-5p LOGGER=%logger.%M() MESSAGEID=%X{MESSAGE_ID} KEYVALUES=%X{KEY_VALUES} REFERRER=%property{HttpReferer} URL=%property{Url} LOGMSG=%m%n" />
    </layout>
    <lossy value="true" />
    <Port value="25" />
    <smtpHost value="SMTPHOST" />
    <subject value="Error on Application %P{Application}" />
    <to value="chris.hudson@aexp.com" />
    <Username value="service" />
  </appender>

  <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern
        value="ENVIRONMENT=DEV APPLICATION=%P{Application} DATE=&quot;%d{dd MMM yyyy HH:mm:ss.fff}&quot; %ndc THREAD=%t LOGLEVEL=%-5p LOGGER=%logger.%M() MESSAGEID=%X{MESSAGE_ID} KEYVALUES=%X{KEY_VALUES} REFERRER=%property{HttpReferer} URL=%property{Url} LOGMSG=%m%n" />
    </layout>
  </appender>

</log4net>